 @media (min-width: 992px)
        backend.css?id=…b21fe2e6916:24
        .header-fixed .app-header {
            position: fixed;
            z-index: 1020;
            width: 100%;
        }
        .app-header{
            transition: margin-left .25s,margin-right .25s,width .25s,flex .25s;
            flex: 0 0 55px;
            flex-direction: row;
            height: 55px;
            padding: 0;
            margin: 0;
            background-color: #fff;
            border-bottom: 1px solid #c8ced3;
        }
        .navbar {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
        .navbar-toggler:not(:disabled):not(.disabled) {
          cursor: pointer;
      }
      .app-header .navbar-toggler {
          min-width: 50px;
          padding: .25rem 0;
      }
      .mr-auto, .mx-auto {
          margin-right: auto!important;
      }
      @media (min-width: 992px)
      backend.css?id=…b21fe2e6916:24
      .d-lg-none {
          display: none!important;
      }
      .navbar-toggler {
         padding: .25rem .75rem;
         font-size: 1.09375rem;
         line-height: 1;
         background-color: transparent;
         border: 1px solid transparent;
         border-radius: .25rem;
     }
     .app-header .navbar-brand {
         display: inline-flex;
         align-items: center;
         justify-content: center;
         width: 155px;
         height: 55px;
         padding: 0;    margin-right: 0;
         background-color: transparent;
     }
     .navbar-brand {
         display: inline-block;
         padding-top: .3359375rem;
         padding-bottom: .3359375rem;
         margin-right: 1rem;
         font-size: 1.09375rem;
         line-height: inherit;
         white-space: nowrap;
     }
     .app-header .navbar-brand .navbar-brand-minimized {
       display: none;
   }
   .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat 50%;
    background-size: 100% 100%;}

    .app-header .navbar-nav {
       flex-direction: row;
       align-items: center;
   }

   .navbar-nav {    display: flex;
    flex-direction: column;    
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.app-header .nav-item {
    position: relative;
    min-width: 50px;
    margin: 0;
    text-align: center;
}
.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.pr-3, .px-3 {
    padding-right: 1rem!important;
}
.app-header .nav-item .nav-link {
    padding-top: 0;    padding-bottom: 0;
    background: 0;
    border: 0;
}
navbar-nav .nav-link {
 color: #73818f;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.icon-home{
    font-family: simple-line-icons;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.app-header .nav-item .nav-link .badge {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: 0;
}
.badge-pill {
    border-radius: 10rem;
}
.badge-danger {
    color: #fff;
    background-color: #f86c6b;
}
.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.nav-link>.img-avatar {
    height: 35px;
    margin: 0 10px;
}
.avatar>img, .img-avatar, .img-circle {
    max-width: 100%;
    height: auto;
    border-radius: 50em;
}
img, svg {
    vertical-align: middle;
}
img {
   border-style: none;
}
.app-header .navbar-nav .dropdown-menu-right {
 right: 0;
 left: auto;
}
.app-header .navbar-nav .dropdown-menu {
 position: absolute;
}
.app-header .dropdown-menu {
 padding-bottom: 0;
 line-height: 1.5;
}
.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.dropdown-menu {
 box-shadow: none;
 border-color: #eee;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0;
    margin: .125rem 0 0;
    font-size: .875rem;
    color: #23282c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c8ced3;
    border-radius: .25rem;
}
.dropdown-header {
    padding: 8px 20px;
    background: #e4e7ea;
    border-bottom: 1px solid #c8ced3;
}
.dropdown-header {
    display: block;
    padding: 0 1.5rem;
    margin-bottom: 0;
    font-size: .765625rem;
    color: #73818f;
    white-space: nowrap;
}
.text-center {
   text-align: center!important;
}
.app-header .dropdown-item {
   min-width: 180px;
}


.dropdown-item {
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #c8ced3;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #23282c;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}